/* CORES */
$colorLight1: #87dc00;
$colorLight2: #46a500;
$colorMedium: #138500;
$colorDark6: #004d00;
$colorDark9: #002f00;
$greyLight1: #c5c5c5;
$greyLight2: #9a9a9a;
$greyMedium: #767676;
$greyDark6: #3d3d3d;
$greyDark9: #212121;
$backgroundColor: #eeeeee;

/* FONTES */
$baseFont: 'Roboto', sans-serif;

/* MEDIA QUERY BREAK POINTS */
$breakPointSm: 50em;
$breakPointMd: 64em;
$breakPointLg: 92em;

/* SCALE MULTIPLIERS (1.26x): .5 / .63 / .794 / 1 / 1.26 / 1.588 / 2 / 2.52 / 3.176 / 4 / 5.042 / 6.353 */