@import 'vendor/normalize';
@import 'vendor/tooltipster.bundle.min';
@import 'vendor/slick';
@import 'vendor/slick-theme';
@import 'vendor/aos';
@import 'vendor/chart';
@import 'vendor/leaflet';
@import 'var';
@import 'mixins';
@import 'grid';
@import 'fonts';
@import 'dark-mode';

/* BASE 
   Inclui todas propriedades base que afetam tags, incluindo seletores de atributo. */
*, *::before, *::after {
	@include prefix(box-sizing, border-box, webkit ms o moz);
}
html, body {
  position: relative;
  height: 100%;
  margin: 0;
  overflow: hidden;	
  color: $greyDark6;
  font-family: $baseFont;
}
html {
  font-size: 16px; /* Tamanho base de fonte :ROOT em mobile */
  line-height: 1.588;
	border: solid 5px $colorMedium;
}
body {	
  height: 100%;
  padding: 3.176rem 0;  
  background: $backgroundColor;  
}
::-moz-selection,
::selection {
  text-shadow: none;
  background: $colorLight1;  
}
audio,
canvas,
img,
video {	vertical-align: middle; }
ol,
ul { padding: 0; }
dt,
dd {
	margin: 0;
	padding: 0;
}
dd { margin-bottom: 1rem; }
h1, h2, h3, h4, h5, h6 {
	color: #000;	
	font-weight: 400;	
}
abbr[title] {
	text-decoration: none;
	border-bottom: dotted 1px $colorMedium;
	@include prefix(font-feature-settings, "smcp" 1, webkit moz ms);
  text-transform: lowercase;
}
strong { font-weight: 500; }
main {
  position: relative;
  display: block;
  height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
form {
	font-size: 1rem;
	line-height: 1.588;
}
fieldset {  
  margin: 0;
  padding: 0;
  border: 0;
}
textarea { resize: vertical; }
label {
	display: block;	
	margin-bottom: 1rem;
}
input[type="radio"] {
	height: .75rem;
	width: .75rem;
	vertical-align: middle;
}
button {
	cursor: default;
	&:focus { outline: 0; }
}
figure { margin-bottom: 1rem; }

a.block {
	color: currentColor;
	border: none;
}

a, .anchor-link {	
	color: #000;
	text-decoration: none;
	border-bottom: solid 2px $colorMedium;
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	&:hover { border-bottom: solid 4px $colorMedium; }
	&:visited { color: #000; }
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
  width: 2rem;
	height: 1.2rem;
	input {/* Hide default HTML checkbox */
		opacity: 0;
		width: 0;
		height: 0;
	}
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $greyLight1;
		-webkit-transition: .4s;
		transition: .4s;
		&:before {
			position: absolute;
			content: "";
			height: .794rem;
			width: .794rem;
			left: .2rem;
			bottom: .2rem;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
		}
		/* Rounded sliders */
		&.round { border-radius: 34px; }
		&.round:before { border-radius: 50%; }
	}
	&__text-label {
		font-size:.5rem;
	}
}

input:checked + .slider { background-color: $colorMedium; }
input:focus + .slider { box-shadow: 0 0 1px $colorMedium; }
input:checked + .slider:before {
  -webkit-transform: translateX(.794rem);
  -ms-transform: translateX(.794rem);
  transform: translateX(.794rem);
}


/* CLASSES UTILITARIAS
   Inclui todas as classes reaproveitaveis independente de contexto. */
.inverted-border { border: solid 5px #fff; }
.btn {	
	padding: 1rem;
	color: #fff;
	background: $colorMedium;
	border: none;
	border-radius: 5px;
	transition: all .5s;
	&:hover { background-color: $greyDark6; }
	&[disabled="disabled"] { opacity: 0.2; }
	&--small {
		padding: .5rem;
		font-size: .794rem;
	}
}	
.image { max-width: 100%; }
.img-container {
	&__caption {	
		color: #222;
		font-size: .794rem;
		line-height: 1.588;
	}
	&__top-line {
		height: 3px;
		margin-bottom: 1rem;
		width: 3.176rem;
		background: $colorMedium;
	}
	&__img-src {
		display: block;
		margin-top:.5rem;
	}
}
.ss_hide { display: none; }/* SMALL SCREEN HIDE - Objeto oculto em telas pequenas. */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.hotspot-container {/* HOTSPOT - Mapa de destaque em imagens. */
	position: relative;
	&__image { width: 100%; }
	&__map {
		position: absolute;
		top: 0;
		left: 0;
		border: solid 5px $colorMedium;
		cursor: help;
		&--visited { border: solid 5px #000; }
	}
}
.quote {/* CITACAO - Bloco de citacao */
	margin: 1rem 1.26rem;
	p { margin-bottom: .5rem !important; }
	&__author { font-style:normal; }
}	
.pullquote {/* REALCE - Bloco de conteudo realcado */
	margin: 2rem 0;
	padding-left: 1.26rem;
	color: #000;	
	font-size: 1.26rem;
	line-height: 1.588;
	border-left: solid 2px $colorMedium;
}
.video-content {/* VIDEOS INCORPORADOS */
	position:relative;
	margin-bottom:1.5em;
	width:100%;
	transition:all .5s;
	&--focus { z-index:13; }
}
.video-wrapper {/* VIDEO INCORPORADO - YOUTUBE */
	position: relative;
	margin-bottom: 2rem;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;	
	&__iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		margin-bottom: 2em; 
		width: 100%;
		transition:all .5s;
		&--focus { z-index:13; }
	}
}	
.lining-figures {	
  @include prefix(font-feature-settings, normal, webkit moz ms);
}
.old-style-figures {	
  @include prefix(font-feature-settings, "onum" 1, webkit moz ms);
}
.small-caps {	
  @include prefix(font-feature-settings, "smcp" 1, webkit moz ms);
  text-transform: lowercase;
}
.small-caps--alternative {	
  font-variant: all-small-caps;
  text-transform: lowercase;
}
.code-display {
	margin-bottom: 2rem;
	padding-left:2rem;
	color:#000;
	font-family: 'Courier New', Courier, monospace;
	font-size:.794rem;
	pre {
		overflow-x: auto;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
	}
	&--numbered {
		@extend .code-display;
		pre {
			line-height: 0;
			counter-reset: line;
			span {
				display: block;
				line-height: 1rem;
				&:before {
					counter-increment: line;
					content: counter(line);
					display: inline-block;					
					margin-right: 1rem;
          font-weight: bold;
          text-align: left;
				}
			}
		}
	}
}
.no-top-margin { margin-top: 0 !important; }

/* CABECALHO E RODAPE DA PAGINA
   Inclui as propriedades que afetam o cabecalho do curso, que inclui nome do curso e do modulo. */
%tips-shared {
  position: fixed;  
  padding: .794rem;
  width: 100%;
  height: 3.176rem;
}
.main-header {
  @extend %tips-shared;
  top:0;
	&__heading-1, &__heading-2 {
    margin: 0;
    overflow: hidden;
		font-family: $baseFont;
		font-size: .63rem;
		line-height: 1.26;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__heading-2 { font-weight:bold; }
}
.main-footer {    
  @extend %tips-shared;
  bottom: 0;
  padding: 0;			
}  
.lead {	
	color: #000;	
	font-size: 1.26rem;	
}
.page-header {
	margin-bottom: 2.52rem;
	&__topic-title {	
		margin-bottom: .25rem !important;
		font-size: .63rem;
		font-weight: 400;
		line-height: 1;	
	}
	&__topic-tag-style {
		display: inline-block;
		padding: .41em .8em;
		color: #fff;
		background-color: $colorMedium;        
	}
	&__page-title {	
		margin: 0 0 .5rem 0;
		width: 100%;		
		font-size: 2.52rem;
		font-weight: 900;
		line-height: 1.26;
	}
}

.page-content {
  position: relative;
  display: block;
  height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background-size: 100% auto;
	p { margin:0 0 1rem 0; }
  h2,
  h3,
  h4,
  h5 { line-height:1.26; }
	h2 {
		margin: 2.52rem 0 1.588rem 0;
    font-size: 1.588rem;
    font-weight: 900;
	}
	h3 {
		margin: 2rem 0 1.26rem 0;
    font-size: 1.588rem;
    font-weight: 500;
	}
	h4 {
		margin: 1.26rem 0 1rem 0;
    font-size: 1.26rem;
    font-weight: 500;
	}
	h5 {		
		margin: 1rem 0 0 0;
    font-size: 1rem;
    font-weight: 500;
	}
}	

.obsoletebrowser {/* NOTIFICACAO DE OBSOLESCENCIA - Notificacao de destaque para navegador desatualizado. */
  position: fixed;
  top: 0;
  z-index: 14;
  margin:0;    
  padding: 1.35em;	
	width: 100%;	
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
	background: $colorMedium;
}
.functions {/* FUNCOES - Botoes de aumento/reducao de fonte e acesso ao menu. */
	float: right;
	margin: 0 .8rem 0 0;
	padding: 0;	
	list-style-type: none;
	&__group {
    display: inline-block;
    margin-left: .51rem;
		text-align: center;		
		vertical-align: middle;
	}
	&__btn {		
		padding: .41rem;
		color: #fff;
		font-size: 0.51rem;
		background-color: $colorMedium;
		border: none;
		border-radius: 5px;
		transition: all .5s;
		&:hover {
			color: #fff;
			background-color: $greyDark6;
		}
	}
	&__btn--change-font {				
		color: #000;
		background-color: $colorLight1;
	}
	&__btn:hover {
		color: #fff;
		background-color: $greyDark6;
	}
}
	
.navigation {/* NAVEGACAO - Botoes de navegacao direcional. */
	position: relative;
	float: right;
	margin-right: 1.26rem;
	overflow: hidden;
	text-align: center;
	&__menu {		
		margin: .315rem 0 .63rem 0;
		padding: 0;
		font-size: 0.8rem;
	}
	&__item {
    position: relative;
    display: inline-block;		
		&:first-child { padding-left: 1.26rem; }
		&:last-child {
			margin-left: 1rem;
			padding-right: 1.26rem;
		}				
	}		
	&__icon-back {
		position: absolute;
		top: .1rem;
		left: 0;
	}
	&__icon-forward {
		position: absolute;
		top: .1rem;
		right: 0;
	}
	&__link--proceed {
		cursor: context-menu;
		opacity: 0.5;
	}
	&__link--proceed-active {
		opacity: 1;
		cursor: pointer;
	}
}	

.progress-bar {	
  position: absolute;
	bottom: 0;
  height: .794rem;
	width: 100%;	
	&__indicator {		
    position: absolute;
		top: 100%;
    height: .794rem;
		margin: 0;
		padding: 0 .25rem;		
		font-size: .5rem;
		list-style-type: none;
		transition: all .5s;
	}
	&__current-page {
		display: inline-block;		
		font-weight: 700;
		vertical-align: top;
	}
	&__line-divider {	
		display: inline-block;
		height: .794rem;
		margin: 0 .25rem;
		padding: 0;
		width: 2px;
		vertical-align: top;
		background-color: $colorMedium;	
	}
	&__page-total {
		display: inline-block;		
		vertical-align: top;
	}
	&__indicator:hover .progress-bar__percentage { top:0; }	
	&__percentage {
    position: absolute;
		top: 100%;
		left: 0;
    padding: .1rem 0;
		width: 100%;		
		color: #fff;
		text-align: center;
		background-color: $colorMedium;
		transition: all .2s;
	}
}

/* MENU
   Inclui as classes do menu de paginas */
.menu {
  position: absolute;
	top: 0;
	right: -20.175rem;
	bottom: 0;
	z-index: 11;
  height: 100%;
	max-width: 100%;
	width: 20.175rem;	
	color: #fff;	
	background-color: $colorMedium;	
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		font-size: 0.8rem;
	}
	a {		
		display: block;
		padding: 0.25rem 0.63rem;
		color: #fff;
		text-decoration: none;
		border-bottom: solid 1px rgba(0,0,0,0.2);
		outline: 0;
	}
	a:hover {			
		text-decoration: underline;
		background-color: rgba(0,0,0,0.2);
	}
	svg {		
    float: right;
		vertical-align: middle;
		transition: all .5s;
		fill: #fff;
	}
	&__label {
		display: block;
		margin: 0.63rem;
		color: #fff;		
	}
	&__level-0 {
		height: 90%;
		overflow-y: auto;
	}
	&__btn-close {		
		float: right;
		padding: .397rem;
		font-size: 0.5rem;
		border: solid 1px #fff;
	}
	&__collapsible-btn { cursor: default; }
	&__level-0 > li { margin-bottom: 1rem; }
	&__level-1 a { padding-left: 1rem; }
	&__level-2 {
		display:none;
		a { padding-left: 2rem; }
	}
	&__current-page { border-left: solid 8px rgba(0,0,0,0.5); }
	&__dev {
		counter-reset: section;
		a:not(.menu__collapsible-btn)::before {
      margin-right: 1rem;
			padding: .25rem .5rem;      			
			color: #fff;
			font-size: 0.75rem;
			background-color: rgba(0,0,0,0.2);
      border-radius: 5px;
      counter-increment: section;
    	content: counter(section);
		}
		.menu__level-2 { display: block; }
	}	
}	

/* CREDITOS
   Inclui as classes da lista de creditos. */
.credits {	
	padding: 0;
	list-style-type: none;
	ul { @extend .credits }	
	&__higher-unit { 	
		font-size: 1.26rem;
		font-weight: 700;
		line-height: 1.26;
	}
	&__initials {
		display: block;
		width: 4rem;
		font-weight: 900;
		text-align: left;
	}
	&__unit-container {
		display: block;
		margin-top: 0;
		margin-bottom: 2rem;
	}
	&__unit {
		margin-top: .63rem;
		margin-bottom: .63rem;
	}
	&__unit-name {
		display: block;
		font-weight: 900;
	}
	&__activity {
		margin-top: 0;
		margin-bottom: 0;
	}
	&__activity-name {
    font-weight: 500;
  }
	&__activity span {
    display: block;
  }
}

/* REFERENCIAS
   Inclui as classes da lista de referências. */
.references {
	li {
		text-indent: -1.26rem;
		margin-left: 1.26rem !important;
	}
}

@import 'components';
@import 'exercises';
@import 'cover';
@import 'app';
@import 'media-queries';